/* Flex */
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    /* min-width: 1000px;
    min-height:500px; */
}
body{
  /* overflow-y: scroll; */
}


body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Side Layout */
.sideLayout{
    display:flex;
    flex-direction:row;
    height: 100%;
}

.sideLayout .sideLayout-side{
    /* flex:0 0 300px; */
    width:160px;
}

.sideLayout .sideLayout-main{
    /* padding-left:16px; */
    flex:1;
    overflow-y: scroll;
}

.sideLayout .sideLayout-main.reverse{
    margin-left:0;
    margin-right:16px;
}

/* Button */
.btn-default {
    /* border: 1px solid transparent; */
    /* background: transparent; */
    color: #6f93b6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus
{
  color: #6f93b6;
  /* border-color: transparent; */
  /* background: rgba(255, 255, 255, 0.2); */
}

.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline:active:hover,
.btn-outline:active:focus
{
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, 0.2);
}

.btn-minimal {
    border: 1px solid transparent;
    background: transparent;
    color: #fff;
}

.btn-minimal:hover,
.btn-minimal:focus,
.btn-minimal:active,
.btn-minimal:active:hover,
.btn-minimal:active:focus
{
  color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
  background: rgba(255, 255, 255, 0.2);
}




/* utils */
.bg-inverse{
    color:#fff;
}

.bg-inverse a{
    color:#888888;
}

.bg-inverse a:hover,
.bg-inverse a:focus,
.bg-inverse a:active
{
    color:#fff;
}


/**
 * For React-Modal
 */

.ReactModal__Overlay {
    z-index: 1060;
}

/**
 * For Centering bootstrap modal
 */

.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}
  