@media print
{
    .sideLayout{
        display:block;
        height: auto;
    }

    .sideLayout .sideLayout-side{
        display:none;
    }

    .sideLayout .sideLayout-main{
        overflow-y: auto;
    }

}

@media print {
    a[href]:after {
        content: none !important;
    }
}