.nav-pills > li{
    border-bottom:1px solid #efefef;
}
.nav-pills > li > a{
    color:#333;
    font-weight: 300;
}

.nav-stacked > li + li{
    margin:0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus
{
    color: #337ab7;
    background: transparent;
    /* font-weight: 500; */
}