
<!-- 
# Web Socket Server
# Brandon Joffe
# 2016
#
# Copyright 2016, Brandon Joffe, All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. -->

<!-- Copyright © 2014-2016 Almsaeed Studio. All rights reserved. -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home Surveillance | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="static/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="static/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="static/plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="static/plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="static/plugins/datepicker/datepicker3.css">

  <link rel="stylesheet" href="static/plugins/ionslider/ion.rangeSlider.css">
  <!-- ion slider Nice -->
  <link rel="stylesheet" href="static/plugins/ionslider/ion.rangeSlider.skinNice.css">
  <!-- bootstrap slider -->
  <link rel="stylesheet" href="static/plugins/bootstrap-slider/slider.css">


  <link href="static/css/main.old.css" rel="stylesheet">

  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-collapse  sidebar-mini"> <!-- sidebar-collapse -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      
      <!-- logo for regular state and mobile devices -->
      <span class="logo logo-lg"><b>Home</b>Surveillance</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
     <!--   <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> -->
      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
              </li>
            
              <li class="user-footer">
               <!--  <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <a href="{{ url_for('login') }}" class="btn btn-default btn-flat">Log out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i>Database</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i>Setup Guide</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Configuration</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i> Users</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Server</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Recognition Accuracy</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Client Settings</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Recording</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Camera Settings</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <span class="logo-lg"><b>Home</b>Dashboard</span> 
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
        <div class="row" id="surveillance_panel">          
        </div> 
      <div class="row">
  
          <section class="col-lg-6 connectedSortable">
        <!-- ================================================================================================================================== -->
                
                  <div class="box box-solid bg-light-blue-gradient">
                      <div class="box-header with-border">
                        <h3 class="box-title">Faces Detected</h3>
                          <div class="btn-group pull-right">
                           <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          </div>
                     </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                            <div id="detected-faces">
                      <!-- /.info-box-content --> 
                           </div>                 <!-- /.users-list -->
                      </div>
                        <!-- /.box-body -->
                      <div class="box-footer text-center">
                       <div class="btn-group pull-right" id = "facedetectbtn">
                                <button type="button" id="retrain" onclick="retrainClassifier()" class="btn btn-primary btn-xs" >
                                    <i class="fa fa-refresh fa-fw"></i> Retrain Database
                                </button>
                        </div>
                      </div>
                <!-- /.box-footer -->
                  </div>
              <!--/.box -->
            <!-- ================================================================================================================================== -->

              <div class="box box-solid bg-green-gradient">
                      <div class="box-header with-border">
                        <h3 class="box-title">Camera Control Panel</h3>
                          <div class="btn-group pull-right">
                           <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          </div>
                     </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                      <div class="col-md-8">
                            <div class="box">
                              <div class="box-header with-border">
                               Cameras
                              </div>
                              <!-- /.box-header -->
                              <div class="box-body">
                                <div class="row">
                                  <div class="col-md-12">
                                      <div class="panel-body" id="system-cameras" >

                                      </div>     
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- ./box-body -->
                                <!-- /.row -->
                              </div>
                              <!-- /.box-footer -->
                            </div>
                            <div class="col-md-4">

                            <div class="form-group">
                                 <label>IP Camera URL</label>
                                 <input class="form-control" id="camURL" value="" placeholder="Enter stream URL">
                            </div>
                             <div class="form-group">

                               
                                <label>Video Processing Application</label>
                                    <select id="application" class="form-control">
                                        <option value="detect_motion">Motion Detection</option>
                                        <option value="detect_recognise">Face Recognition</option>
                                        <option value="motion_detect_recognise">Motion Detection & Face Recognition</option>
                                        <option value="segment_detect_recognise">Motion Object Segmentation & Face Recognition</option>
                                        <option value="detect_recognise_track">Face Recognition & Tracking</option>
                                        <option value="openface">Openface</option>
                                        <option value="face_capture">Face capture</option>
                                        <option value="face_detection_embedding">cnn embedding face detectoin</option>
                                        <option value="face_capture_embedding">cnn embedding Face capture</option>
                                    </select>
                               </div>

                                <div class="form-group">
                                <label>Face Detection Method</label>
                                    <select id="detectionMethod" class="form-control">
                                        <option value="opencv">Opencv Haar Cascade</option>
                                        <option value="dlib">Dlib HOG Face Detector</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                <label>Check for many simultaneous cameras (FPS Tweak)</label>
                                    <input type="checkbox" id="fpstweak" value="fpstweak">
                                </div>
                            </div>
                         
                      </div>
                        <!-- /.box-body -->
                      <div class="box-footer text-center">
                       <div class="btn-group pull-right" id = "createcamerabutton">
                                <button type="button" id="addcam" onclick="addCamera()" class="btn btn-success btn-xs" >
                                    <i class="fa"></i> Add Camera
                                </button>
                        </div>
                      </div>
                <!-- /.box-footer -->
                  </div>
              <!--/.box -->
               <!-- ================================================================================================================================== -->
        </section>


         <section class="col-lg-3 connectedSortable">
            

             <div class="box box-solid bg-light-blue-gradient">
                  <div class="box-header with-border">
                    <h3 class="box-title">Add New Face</h3>
                      <div class="btn-group pull-right">
                       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                      </div>
                 </div>
                  <!-- /.box-header -->
                  <div class="box-body">               
                      <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                         <div class=row>
                              <div class="col-md-12 col-sm-10 col-xs-10" >
                                <input class="form-control" id="personName" name = "name" value="" placeholder="Enter new person's name" style="padding: 10px; margin-bottom: 10px; ">
                              </div> 
                              <div class="col-md-12 col-sm-10 col-xs-10">
                               <input type=file name=photo class="btn btn-xs pull-left" style="padding: 0">        
                               <input type="submit" class="btn btn-primary btn-xs pull-right">
                              </div>
                         </div>  
                       </form>                      
                      <div class="col-md-9 col-sm-8 col-xs-8">
                         <div id="face-Images">
                  <!-- /.info-box-content --> 
                       
                         </div> 
                       
                    </div>     <!-- /.users-list -->
                  </div>
                    <!-- /.box-body -->
                  <div class="box-footer text-center">
                  
                            <div class="pull-left">
                              <p class="text-black">{{message}}</p>
                            </div>
                            <div class="btn-group pull-right">
                               <button type="button" id="retrain" onclick="retrainClassifier()" class="btn btn-primary btn-xs" >
                                        <i class="fa fa-refresh fa-fw"></i> Retrain Database
                                </button>
                           
                          </div>
                  </div>
            <!-- /.box-footer -->
              </div>
          <!--/.box -->

                            <!-- =============================================================================================================================== -->

            <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
              <i class="fa"></i>

              <h3 class="box-title">System Monitoring</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
                
              
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
               <div class="row">
                <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" id="cpu_usage" data-readonly="false" value="..." data-width="80" data-height="80" data-fgColor="#39CCCC">
                   <div class="knob-label">CPU Load %</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" id="memory_usage" data-readonly="false" value="..." data-width="80" data-height="80" data-fgColor="#39CCCC">
                  <div class="knob-label">Memory Usage %</div>
                </div>
                <!-- ./col -->
                <!-- ./col -->
              </div>
              <!-- /.row -->
              
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->


              <!-- =============================================================================================================================== -->
     



        </section>
              
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
      
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->


    </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
window.ViewData = {
  API: {
    remove_camera:"{{ url_for('remove_camera') }}",
    add_camera:"{{ url_for('add_camera') }}",
    retrain_classifier:"{{ url_for('retrain_classifier') }}",
    remove_face:"{{ url_for('remove_face') }}",
    add_face:"{{ url_for('add_face') }}",
    create_alert:"{{ url_for('create_alert') }}",
    remove_alert:"{{ url_for('remove_alert') }}",
  }
};

</script>
<script type="text/javascript" charset="utf-8" src="/static/js/surveillance.js"></script>
 
<script src="static/plugins/ionslider/ion.rangeSlider.min.js"></script>
<!-- Bootstrap slider -->
<script src="static/plugins/bootstrap-slider/bootstrap-slider.js"></script>

<script src="static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="static/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="static/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="static/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="static/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="static/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="static/dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="static/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="static/dist/js/demo.js"></script>
</body>
</html>
