.App {
  font-weight:200;
}

.progress{
    background-color: #303030;
}

.thumbnail{
    border-color:#222;
    padding-top:9px;
}


.dashboard-people-item{
    text-overflow: ellipsis;
    /* white-space: nowrap; 
    overflow: hidden; */
}

.dashboard-people-item+.dashboard-people-item{
    margin-left:2px;
}